header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 16px;

  .content {
    height: 100%;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1rem;
      font-weight: 600;
    }

    span {
      font-size: 1rem;
    }
  }
}
