# Example Terraform variables file
# Copy this file to terraform.tfvars and fill in your values

project_name        = "underwaise"
location            = "westeurope"
resource_group_name = "underwaise-rg"

# SQL Configuration
sql_admin_username          = "sqladmin"
sql_admin_password          = "password"

# Container Images
process_engine_image_url = "ghcr.io/underwaise/underwaise/underwaise-process-engine:develop"

# GitHub Container Registry
ghcr_username = "user"
ghcr_password = "ghp_123"


# Process Engine Scaling
process_engine_min_replicas = 0
process_engine_max_replicas = 3
process_engine_cpu          = 1.0
process_engine_memory       = "2Gi"

# OpenAI Variables
openai_api_key = "sk-proj-123"
openai_api_endpoint = "https://api.openai.com/v1"

home_ip = "12.12.12.12"

mailgun_api_key = "123"

tags = {
  Project     = "Underwaise"
  ManagedBy   = "Terraform"
  Environment = "dev"
}
