.form-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  flex-direction: column;
  padding: 1rem;

  .form-progress {
    position: sticky;
    width: 100%;
    height: 4px;
    top: calc(50px + 0.5rem);
    margin-bottom: 1rem;
    background-color: #e0e0e0;

    .progress-indicator {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: var(--primary);
      transition: width 0.3s ease;
      z-index: 1;
    }
  }

  h2 {
    font-size: 0.8rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 16px;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 70px;

    .form-label {
      font-size: 0.8rem;
      font-weight: 600;
    }

    .question {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .form-actions {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      height: 70px;
      background-color: #fff;
      border-top: 1px solid #d8d8d8;

      .wrapper {
        width: 100%;
        max-width: var(--max-width);
        padding: 0 1rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .primary-action,
        .secondary-action {
          flex: 1;
          max-width: 200px;
        }

        .primary-action {
          margin-left: auto;
        }
      }
    }
  }
}
